<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<connectionStrings>
        <add name="*" connectionString="Server=localhost;Database=queen;User ID=postgres;Password=postgres*.*;CommandTimeout=600" providerName="Npgsql"/>
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
        </DbProviderFactories>
    </system.data>-->
</configuration>